{{#if isEdit}}
<h1>Edit Post</h1>
{{else}}
<h1>Create Post</h1>
{{/if}}

{{#if errors}}
<div class="alert alert-danger text-center" role="alert">
  {{#each errors}}<p class="mb-0"> <strong>{{this.msg}}</strong> </p>{{/each}}
</div>
{{/if}}


{{#if isEdit}}
<form action="/admin/posts/edit/{{post._id}}?_method=PUT" method="POST">
  <input type="hidden" name="_id" value="{{post._id}}">
  {{else}}
  <form action="/admin/posts/create?_method=POST" method="POST">
    {{/if}}
    <div class="form-group">
      <label for="">Title</label>
      <input type="text" class="form-control" name="title" id="title" value="{{post.title}}">
    </div>
    <div class="form-group">
      <label for="">Status</label>
      <select class="form-control" name="status" id="status">
        {{#select post.status}}
        <option value="public">Public</option>
        <option value="private">Private</option>
        <option value="draft">Draft</option>
        {{/select}}
      </select>

    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" {{#if post.allowComments}} checked {{/if}} name="allowComments"
          id="allowComments">
        Allow Comments
      </label>
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <textarea class="form-control" name="body" id="body" rows="3">{{post.body}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>